<h1>
    Test <br>
    {{ test }}
</h1>

<form method="post" enctype="multipart/form-data" id="upload-form">
    {% csrf_token %}
    <input type="file" id="file-input">
    <button type="button" id="send-button">Send</button>
</form>

<audio id="vocals-audio" controls style="display:none;"></audio>
<audio id="accompaniment-audio" controls style="display:none;"></audio>

<script>
    document.getElementById('send-button').addEventListener('click', function () {
        event.preventDefault();

        const fileInput = document.getElementById('file-input');
        const file = fileInput.files[0];

        const formData = new FormData();
        formData.append('file', file);

        const xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:8000/api/v1/separate');
        xhr.responseType = 'json';

        xhr.send(formData);

        xhr.onload = function () {
            if (xhr.status === 200) {
                const jsonResponse = xhr.response;

                // Decode Base64 content
                const vocalsBlob = base64toBlob(jsonResponse.vocals, 'audio/wav');
                const accompanimentBlob = base64toBlob(jsonResponse.accompaniment, 'audio/wav');

                // Create Blob URLs for the binary content
                const vocalsBlobUrl = URL.createObjectURL(vocalsBlob);
                const accompanimentBlobUrl = URL.createObjectURL(accompanimentBlob);

                // Set the audio sources
                document.getElementById('vocals-audio').src = vocalsBlobUrl;
                document.getElementById('accompaniment-audio').src = accompanimentBlobUrl;

                // Show the audio players
                document.getElementById('vocals-audio').style.display = 'block';
                document.getElementById('accompaniment-audio').style.display = 'block';
            } else {
                console.error(xhr.statusText);
            }
        };
    });

    function base64toBlob(base64, mimeType) {
        const byteString = atob(base64);
        const arrayBuffer = new ArrayBuffer(byteString.length);
        const int8Array = new Uint8Array(arrayBuffer);

        for (let i = 0; i < byteString.length; i++) {
            int8Array[i] = byteString.charCodeAt(i);
        }

        return new Blob([arrayBuffer], { type: mimeType });
    }
</script>
